<h1 class="text-center w-100" style="color: white;"><span class="material-icons" style=" color:green;   font-size: 40px;">library_music</span>
    Melody-Mix</h1>

  <div class="imageset mt-3">
    <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="image1 mt-4 ms-4">
</div>

<section>
    <div class="container">
        <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/marryoncross.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/roses.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
        <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio()">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
        