<h1 class="text-center w-100" style="color: white;"><span class="material-icons" style=" color:green;   font-size: 40px;">library_music</span>
    Melody-Mix</h1>

  <div class="imageset mt-3">
    <img src="../../../../assets/pic/pexels-vishnu-r-nair-1105666.jpg" class="image1 mt-4 ms-4">
</div>

<section>
    <div class="container">
        <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/marryoncross.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Mary On A Cross<br><span>Ghost-</span></h3>
                <button class="play-button" (click)="toggleAudio(0)">
                  <i class="fa" [ngClass]="isPlaying[0] ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio  #audioPlayer0 [src]="'assets/pic/Ghost_-_Mary_On_A_Cross_CeeNaija.com_ (1).mp3'" [hidden]="!isPlaying[0]" controls></audio>
          </div>

          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/roses.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Roses SAINt JHN<br><span>Imanbek-</span></h3>
                <button class="play-button" (click)="toggleAudio(1)">
                  <i class="fa" [ngClass]="isPlaying[1] ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer1 [src]="'assets/pic/Roses Imanbek Remix Mp3 Song Download(RemixZilla.Com).mp3'" [hidden]="!isPlaying[1]" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/Mike_Posner_-_I_Took_a_Pill_in_Ibiza.png" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Took Pill in Ibiza<br><span>Mike Posner-</span></h3>
                <button class="play-button" (click)="toggleAudio(2)">
                  <i class="fa" [ngClass]="isPlaying[2] ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer2 [src]="'assets/pic/Mike-Posner-I-Took-A-Pill-In-Ibiza-1.mp3'" [hidden]="!isPlaying[2]" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/nightswemet.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>The Night We Met<br><span>Lord Huron-</span></h3>
                <button class="play-button" (click)="toggleAudio(3)">
                  <i class="fa" [ngClass]="isPlaying[3] ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>

            <audio #audioPlayer3 [src]="'assets/pic/13_reasons_why_05. The Night We Met (feat. Phoebe Bridgers).mp3'" [hidden]="!isPlaying[3]" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/iaintworried.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(4)">
                  <i class="fa" [ngClass]="isPlaying[4] ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer4 [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying[4]" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/boysareliar.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(5)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying[5]" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/fadeintoyou.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(6)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
        <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/afterhouse.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(7)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/itaintme.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(8)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/whereareyounow.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(9)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/mind2.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(10)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
          <div class="card">
            <div class="content">
              <div class="imgBx">
                <img src="../../../../assets/pic/stay.jpg" class="w-100">
              </div>
              <div class="contentBx">
                <h3>Printed Lawn<br><span>Top Dupatta</span></h3>
                <button class="play-button" (click)="toggleAudio(11)">
                  <i class="fa" [ngClass]="isPlaying ? 'fa-pause-circle' : 'fa-play-circle'" style="font-size: 46px; color: green"></i>
                </button>
              </div>
            </div>
            <audio #audioPlayer [src]="'assets/pic/Pitbull_-_Rain_Over_Me_Ft_Marc_Anthony_CeeNaija.com_.mp3'" [hidden]="!isPlaying" controls></audio>
          </div>
        