
.example-container {
    /* width: 400px;
    height: 200px; */
    margin: 10px;
    border: 1px solid #555;
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
  }
  
  .sidenav-container {
    height: 94%;
    background-color: var(--shade-purple);
  }
  
  .sidenav {
    background-color: var(--white-color);
  }
  
  .sideNavDropDown {
    background: #00000000;
  }
  
  .main-content {
    margin-left: 200px;
    height: 94%;
  }
  
  .full-width {
    margin-left: 0;
  }
  
  .side-nav-content {
    color: white;
    font-family: poppins;
    font-weight: 700;
    width: 200px;
    margin-left: 5px;
    margin-right: 11px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0px;
  }
  
  .mat-list-item-content {
    /* color: var(--black-color); */
    color: white;
  }
  
  .mdc-list-item:hover{
    color: white;
    border-radius: 5px;
  }
  .mdc-list-item.active{
    background-color: var(--purple-color);
    border-radius: 5px;
    color: var(--white-color);
  }
  .mdc-list-item.focus{
    background-color: var(--purple-color);
    border-radius: 5px;
  }
  .sideNavIcons{
    color: var(--black-color);
    margin-right: 10px;
  }
  .sideNavIcons:hover{
    color: white;
    margin-right: 10px;
  }
  .dropDownPannel{
    /* color: var(--light-color); */
    color: white;
  }
  
  
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: var(--light-purple);
  }
  
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header.mat-expanded:active {
  background: var(--light-purple);
  }
  
  .mdc-list-item.active[_ngcontent-ng-c682836261] {
    background-color: rgb(231, 19, 19);
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .mdc-list-item[_ngcontent-ng-c4009839297]:hover {
    background-color: var(--light-purple);
    border-radius: 5px;
  }
  
  
  .mdc-list-item[_ngcontent-ng-c1019193912].focus {
    background-color: var(--purple-color);
    margin-bottom: 4px;
  }
  .mdc-list-item[_ngcontent-ng-c1019193912].active {
    background-color: var(--purple-color);
    margin-bottom: 4px;
  }
  .mdc-list-item.active[_ngcontent-ng-c1296465323] {
    background-color: var(--purple-color);
    border-radius: 5px;
    color: var(--white-color);
    margin-bottom: 5px;
  }
  